# Run migrations before the app starts
release: |
  python manage.py makemigrations --no-input
  python manage.py migrate --no-input

# Start the app using gunicorn
web: gunicorn ALX-Capstone-Project-RuralMart-API-MarketPlace.rural_mart.wsgi:application
